$Montserrat: 'Montserratbold';
$Montserratregular: 'Montserratregular';
$PTSerif: 'PT Serif', serif;
$Couture: 'COUTURE';
$QuiteChocolatey: 'Quite Chocolatey';
$Maincolor: #161616;
$Backcolor: #ffffff;
$Colorred: #d03958;
$Bezhcolor: #e3d5b8;